 @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding:0;
}  

body{
    background-color: rgb(224, 7, 7);
    font-family: "Arimo", sans-serif;
}
 .cabecalho{
    background-color: rgb(251, 16, 239);
     display: flex;
    justify-content: space-between;
    padding: 15px 25px;  
    align-items: center;

}

.cartao{
    width: 260px;
    height: 200px;

}

.cartao img{
    width: 80%;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.cartao-inteno{
position: relative;
transition: transform 0.8s;
transform style: preserve-3d;
}

.cartao: houver .cartao-inteno{
    transform:rotate( 180deg)
}

